.control__label_adaptive {
    &.control__label_active {
        top: 0;
        transform: translateY(-70%) scale($control__label_active--scale);
        padding: 0 $control__label_active--paddingLeftRight;
        @include text($control__label_active--text);
        background-color: $control__label_active--backgroundColorUpperHalf;
        &:before {
            content: "";
            display: block;
            width: 100%;
            height: 30%;
            position: absolute;
            left: 0;
            top: 70%;
            background-color: $control__label_active--backgroundColorLowerHalf;
            z-index: zIndex(hide);
        }
    }
}