//BLOCK
$control--padding: ();
//modifiers
//control_checkbox
$control__check--border: ();
$control__check--background: ();
$control__check--sizes: (width: 1rem, height: 1rem);
$control__check--margin: (all: 0);


//field
$control__field--font: ( fontSize: 1rem );
$control__field--text: ();
$control__field--padding: ( top : 0.3rem, bottom: 0.35rem, left : 0.5rem, right : 0.5rem );
$control__field--border: ( borderColor: #ccc, borderRadius: 0.25rem, borderWidth: 0.05rem, borderStyle: solid );
$control__fieldPfocus--border: ( borderColor: #aaa );
$control__fieldPfocus--outline: ( outline: none );

//label
$control__label--font: ( fontFamily: inherit, fontSize: 0.8rem );
$control__label--text: ( color: #fff );
$control__label--padding: ( bottom: 0.25rem );

body {
    background-color: #444;
    font-family: sans-serif;
    max-width: 300px;
}



//feedback
$control__feedback--text: (color: #073d80, textAlign: center);
$control__feedback--font: (fontSize: 0.8rem);
$control__feedback--border: (borderColor: darken(#b7cfe6, 10%), borderStyle: solid, borderWidth: 0.05rem, borderRadius: 0.2rem);
$control__feedback--background: (backgroundColor: #b7cfe6);
$control__feedback--margin: ( all: 0 );
$control__feedback--padding: ( topBottom: 0.2rem, leftRight: 0.6rem);
$control__feedback--box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.2);
$control__feedback--transform: translate(-50%, -110%);
$control__feedback--transition: 0.2s visibility ease-in, 0.2s opacity ease-in;
$control__feedbackPafter--sizes: (width: 0.6rem, height: 0.6rem);

//modifiers
//feedback_bottom
$control__feedback_bottom--transform: translate(-50%, 10%);
//feedback_error
$control__feedback_error--text: (color: #a91515);
$control__feedback_error--font: ();
$control__feedback_error--border: (borderColor: darken(#efb6b6, 10%));
$control__feedback_error--background: (backgroundColor: #efb6b6);
//feedback_valid
$control__feedback_valid--text: (color: #0f7025);
$control__feedback_valid--font: ();
$control__feedback_valid--border: (borderColor: darken(#cbf4d1, 10%));
$control__feedback_valid--background: (backgroundColor: #cbf4d1);
//feedback_warning
$control__feedback_warning--text: (color: #a15c20);
$control__feedback_warning--font: ();
$control__feedback_warning--border: (borderColor: darken(#fbc587, 10%));
$control__feedback_warning--background: (backgroundColor: #fbc587);