body {
  font-family: sans-serif;
  max-width: 600px;
}

/*
.demo {
    background-color: red;
    @include mqMin(w4) {
	    background-color: blue;
	}
}
*/
/*
.demo {
    background-color: red;
    @include mqMax(w4) {
	    background-color: blue;
	}
}
*/
/*
.demo {
    background-color: red;
    @include mqRange(w2, w4) {
	    background-color: blue;
	}
}
*/
.control {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
      align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: start;
      justify-content: flex-start;
  position: relative;
  width: 100%;
  margin: 2rem 0;
}

.control__box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
      align-items: stretch;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: start;
      justify-content: flex-start;
  width: 100%;
  position: relative;
}

.control__field {
  background-color: #fff;
  border-color: #ccc;
  border-radius: 0.2rem;
  border-style: solid;
  border-width: 0.05rem;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.2) inset;
  -ms-flex: 0 1 100%;
      flex: 0 1 100%;
  font-size: 1rem;
  max-width: 100%;
  min-width: auto;
  width: 100%;
  padding: 0.3rem 0.5rem;
}
.control__field:active, .control__field:focus {
  border-color: #999999;
  outline: Highlight solid 0.15rem;
  outline-offset: 0.01rem;
}
.control__field:disabled {
  border-color: #e6e6e6;
  background-color: #f2f2f2;
}

.control__textarea {
  background-color: #fff;
  border-color: #ccc;
  border-radius: 0.2rem;
  border-style: solid;
  border-width: 0.05rem;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.2) inset;
  -ms-flex: 0 1 100%;
      flex: 0 1 100%;
  font-size: 1rem;
  max-width: 100%;
  min-width: auto;
  width: 100%;
  padding: 0.3rem 0.5rem;
}
.control__textarea:active, .control__textarea:focus {
  border-color: #999999;
  outline: Highlight solid 0.15rem;
  outline-offset: 0.01rem;
}
.control__textarea:disabled {
  border-color: #e6e6e6;
  background-color: #f2f2f2;
}

.control__select {
  max-height: 1.85rem;
  max-width: 100%;
  min-width: auto;
  width: 100%;
  position: relative;
}
.control__select:after {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  -ms-transform: translateY(-50%) rotate(45deg);
      transform: translateY(-50%) rotate(45deg);
  pointer-events: none;
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  background-color: black;
  display: block;
  /* @TODO: implement arrow with external module */
}
.control__select > select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border-color: #ccc;
  border-radius: 0.2rem;
  border-style: solid;
  border-width: 0.05rem;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.2) inset;
  -ms-flex: 0 1 100%;
      flex: 0 1 100%;
  font-size: 1rem;
  max-height: 1.85rem;
  max-width: 100%;
  min-width: auto;
  width: 100%;
  padding: 0.3rem 0.5rem;
}
.control__select > select:active, .control__select > select:focus {
  border-color: #999999;
  outline: Highlight solid 0.15rem;
  outline-offset: 0.01rem;
}
.control__select > select:disabled {
  border-color: #e6e6e6;
  background-color: #f2f2f2;
}

.control__checkbox {
  display: block;
  width: 1rem;
  height: 1rem;
  background: black;
}

.control__radio {
  display: block;
  width: 1rem;
  height: 1rem;
  background: black;
  border-radius: 50%;
}

.control__choice {
  border-color: #ccc;
  border-radius: 0.2rem;
  border-style: solid;
  border-width: 0.05rem;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.2) inset;
  background-color: #fff;
  font-size: 0.8rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 1 100%;
      flex: 0 1 100%;
  padding: 0.75rem 0.5rem;
  color: gray;
  transition: 0.05s all ease-in;
}
.control__field_sronly[type="radio"]:focus + .control__choice, .control__field_sronly[type="checkbox"]:focus + .control__choice, .control__choice:hover {
  border-color: #999999;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.2) inset;
  color: #000;
  -ms-transform: scale(1.02, 1.02);
      transform: scale(1.02, 1.02);
}
.control__field_sronly[type="radio"]:focus + .control__choice, .control__field_sronly[type="checkbox"]:focus + .control__choice {
  outline: Highlight solid 0.15rem;
  outline-offset: 0.01rem;
}
.control__field_sronly[type="radio"]:checked + .control__choice, .control__field_sronly[type="checkbox"]:checked + .control__choice {
  border-color: #6aa6f1;
  border-width: 0.15rem;
  box-shadow: 0 0 0.2rem rgba(106, 166, 241, 0.5) inset;
  color: #000;
  padding: 0.65rem 0.45rem;
  -ms-transform: scale(1.02, 1.02);
      transform: scale(1.02, 1.02);
}

.control__spinnbutton {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
      align-items: stretch;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: start;
      justify-content: flex-start;
  width: 100%;
  position: relative;
}

.control__label {
  -ms-flex: 0 1 100%;
      flex: 0 1 100%;
  font-family: inherit;
  font-size: 0.8rem;
  color: #000;
  padding-bottom: 0.25rem;
}

.control__abbrflag {
  font-size: 1.2rem;
  color: #af1616;
  text-decoration: none;
  line-height: 0;
}

.control__optionalflag {
  font-style: italic;
  color: #6e6e6e;
}

.control__requiredflag {
  font-style: italic;
  color: #af1616;
}

.control__addon {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
}

.control__feedbackwrapper {
  position: relative;
  height: 0;
  width: 100%;
  z-index: 10;
}

.control__feedback {
  background-color: #6aa6f1;
  border-color: #5c9ef0;
  border-radius: 0.2rem;
  border-style: solid;
  border-width: 0.05rem;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.2);
  font-size: 0.8rem;
  display: block;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 50%;
  -ms-transform: translate(-50%, -110%);
      transform: translate(-50%, -110%);
  transition: 0.2s visibility ease-in, 0.2s opacity ease-in;
  margin: 0;
  padding: 0.2rem 0.6rem;
  max-width: 90%;
  width: auto;
  color: #0c4183;
  text-align: center;
  visibility: hidden;
  z-index: 70;
}
.control__feedback:after {
  content: "";
  display: block;
  bottom: 0;
  left: 50%;
  position: absolute;
  height: 0.6rem;
  width: 0.6rem;
  -ms-transform: translate(-50%, 55%) rotate(-45deg);
      transform: translate(-50%, 55%) rotate(-45deg);
  background-color: #6aa6f1;
  border-color: #5c9ef0;
  border-radius: 0;
  border-style: solid;
  border-width: 0.05rem;
  border-right-width: 0;
  border-top-width: 0;
  border-top-right-radius: 100%;
}

.control__field_addonleft {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.control__field_addonright {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.control__field_valid {
  border-color: #0ee450;
  box-shadow: 0 0 0.1rem rgba(51, 242, 110, 0.5) inset;
}
.control__field_valid:active, .control__field_valid:focus {
  border-color: #0bb43f;
}

.control__field_error {
  border-color: #e74444;
  box-shadow: 0 0 0.1rem rgba(237, 113, 113, 0.5) inset;
}
.control__field_error:active, .control__field_error:focus {
  border-color: #dc1c1c;
}

.control__field_warning {
  border-color: #f18220;
  box-shadow: 0 0 0.1rem rgba(244, 157, 80, 0.5) inset;
}
.control__field_warning:active, .control__field_warning:focus {
  border-color: #d1690d;
}

.control__field_sronly {
  opacity: 0;
  left: -99999px;
  position: fixed;
}

.control__textarea_error {
  border-color: #e74444;
  box-shadow: 0 0 0.1rem rgba(237, 113, 113, 0.5) inset;
}
.control__textarea_error:active, .control__textarea_error:focus {
  border-color: #dc1c1c;
}

.control__textarea_valid {
  border-color: #0ee450;
  box-shadow: 0 0 0.1rem rgba(51, 242, 110, 0.5) inset;
}
.control__textarea_valid:active, .control__textarea_valid:focus {
  border-color: #0bb43f;
}

.control__textarea_warning {
  border-color: #f18220;
  box-shadow: 0 0 0.1rem rgba(244, 157, 80, 0.5) inset;
}
.control__textarea_warning:active, .control__textarea_warning:focus {
  border-color: #d1690d;
}

.control__select_error > select {
  border-color: #e74444;
  box-shadow: 0 0 0.1rem rgba(237, 113, 113, 0.5) inset;
}
.control__select_error > select:active, .control__select_error > select:focus {
  border-color: #dc1c1c;
}

.control__select_valid > select {
  border-color: #0ee450;
  box-shadow: 0 0 0.1rem rgba(51, 242, 110, 0.5) inset;
}
.control__select_valid > select:active, .control__select_valid > select:focus {
  border-color: #0bb43f;
}

.control__select_warning > select {
  border-color: #f18220;
  box-shadow: 0 0 0.1rem rgba(244, 157, 80, 0.5) inset;
}
.control__select_warning > select:active, .control__select_warning > select:focus {
  border-color: #d1690d;
}

.control__feedback_visible {
  opacity: 1;
  visibility: visible;
}

.control__feedback_valid {
  background-color: #33f26e;
  box-shadow: 0 0 0.1rem rgba(51, 242, 110, 0.2);
  border-color: #25f164;
  color: #05541e;
}
.control__feedback_valid:after {
  background-color: #33f26e;
  border-color: #25f164;
  border-radius: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-top-right-radius: 100%;
}

.control__feedback_error {
  background-color: #ed7171;
  box-shadow: 0 0 0.1rem rgba(237, 113, 113, 0.2);
  border-color: #eb6363;
  color: #821010;
}
.control__feedback_error:after {
  background-color: #ed7171;
  border-color: #eb6363;
  border-radius: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-top-right-radius: 100%;
}

.control__feedback_warning {
  background-color: #f49d50;
  box-shadow: 0 0 0.1rem rgba(244, 157, 80, 0.2);
  border-color: #f39542;
  color: #713907;
}
.control__feedback_warning:after {
  background-color: #f49d50;
  border-color: #f39542;
  border-radius: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-top-right-radius: 100%;
}

.control__feedback_bottom {
  -ms-transform: translate(-50%, 10%);
      transform: translate(-50%, 10%);
}
.control__feedback_bottom:after {
  top: 0;
  -ms-transform: translate(-50%, -55%) rotate(135deg);
      transform: translate(-50%, -55%) rotate(135deg);
}

.control__feedback_start {
  left: 0;
  -ms-transform: translate(0, -110%);
      transform: translate(0, -110%);
}
.control__feedback_start:after {
  left: 10%;
}

.control__feedback_startbottom {
  left: 0;
  -ms-transform: translate(0, 10%);
      transform: translate(0, 10%);
}
.control__feedback_startbottom:after {
  left: 10%;
  top: 0;
  -ms-transform: translate(-50%, -55%) rotate(135deg);
      transform: translate(-50%, -55%) rotate(135deg);
}

.control__feedback_end {
  left: auto;
  right: 0;
  -ms-transform: translate(0, -110%);
      transform: translate(0, -110%);
}
.control__feedback_end:after {
  left: auto;
  right: 10%;
}

.control__feedback_endbottom {
  left: auto;
  right: 0;
  -ms-transform: translate(0, 10%);
      transform: translate(0, 10%);
}
.control__feedback_endbottom:after {
  left: auto;
  right: 10%;
  top: 0;
  -ms-transform: translate(-50%, -55%) rotate(135deg);
      transform: translate(-50%, -55%) rotate(135deg);
}

.control__label_inline {
  padding-bottom: 0;
}

.control__box_inline {
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-width: 0;
  width: auto;
}

.control__addon_right {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.control__addon_left {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.control__addon_top {
  position: absolute;
  top: 0;
  bottom: 50%;
}

.control__addon_bottom {
  position: absolute;
  top: 50%;
  bottom: 0;
}
