$fieldFontSize: 1rem;
$labelFontSize: 0.8rem;
$textColor: #000;
$backgroundColor: #fff;
$borderColor: #ccc;
$borderWidth: 0.05rem;
$borderRadius: 0.2rem;
$defaultColor: #6aa6f1;
$errorColor: #ed7171;
$warningColor: #f49d50;
$validColor: #33f26e;
$boxShadow: 0 0 0.1rem rgba(0, 0, 0, 0.2);
//PRIMARY
$fieldFontSizePrimary: 1rem;
$labelFontSizePrimary: 0.8rem;
$textColorPrimary: #fff;
$backgroundColorPrimary: rgb(70, 70, 70);
$borderColorPrimary: rgb(231, 231, 231);
$borderWidthPrimary: 0.05rem;
$borderRadiusPrimary: 0.2rem;
$defaultColorPrimary: #6aa6f1;
$errorColorPrimary: #ed7171;
$warningColorPrimary: #f49d50;
$validColorPrimary: #33f26e;
$boxShadowPrimary: 0 0 0.1rem rgba(0, 0, 0, 0.2);